.piano-roll-card {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    width:300px;
    box-sizing: border-box;
    object-fit: contain;
}

.description {
    margin-top: 10px;
}
  
.piano-roll-svg {
    border: 2px solid #381815;
}