
.main-container{
    width: 600px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 6px;
}

.modal-container p{
    font-size: large;
    font-weight: 700;
    width:30rem;
}

.sidebar{
    border: 2px solid black;
    height: 30%;
    max-height: 225px;
    width: 50%;
    z-index:1;
    position:fixed;
    max-width:500px;
    left: 1;
    overflow:scroll;
}