<div class="main-container">
    <div id="svg-container">
        <svg style="position:absolute;background-color:rgba(138, 43, 226,0.5);" id="chosen-area" width="4px" height="154px"></svg>
        <svg style='position:absolute;display:none;' id='svg-follower-1' width="4px" height="154px">
            <rect width="100%" height="100%" fill="blue"/>
        </svg>
        <svg style='position:absolute;display:none;' id='svg-follower-2' width="4px" height="154px">
            <rect width="100%" height="100%" fill="red"/>
        </svg>
    </div>
    <p>#{{pianoroll.id}}</p>
    <p id="mouse-pos-output" >Current position:{{mousePosition}}</p>
    <div class="sidebar">
        <pr-list [pianorolls]="prlistPianorolls"></pr-list>
    </div>
</div>
